.paragraph--type--bp-1-column,
.paragraph--type--bp-2-column,
.paragraph--type--bp-3-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.25rem;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
@media (min-width: 801px) {
  .paragraph--type--bp-1-column,
  .paragraph--type--bp-2-column,
  .paragraph--type--bp-3-column {
    flex-wrap: no-wrap;

    -webkit-flex-wrap: no-wrap;
    -ms-flex-wrap: no-wrap;
  }
}
.paragraph--type--bp-1-column > *,
.paragraph--type--bp-2-column > *,
.paragraph--type--bp-3-column > * {
  flex: 1 1 100%;

  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
}
.paragraph--type--bp-1-column > *:not(:last-child),
.paragraph--type--bp-2-column > *:not(:last-child),
.paragraph--type--bp-3-column > *:not(:last-child) {
  margin-bottom: 0;
}
.paragraph--type--bp-2-column > * {
  flex: 1 1 100%;

  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
}
@media (min-width: 801px) {
  .paragraph--type--bp-2-column > * {
    flex: 1 1 50%;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
  }
}
.paragraph--type--bp-3-column > * {
  flex: 1 1 100%;

  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
}
@media (min-width: 801px) {
  .paragraph--type--bp-3-column > * {
    flex: 1 1 33%;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 33%;
    -ms-flex: 1 1 33%;
  }
}
