.paragraph--type--bp-bg-img {
  position: relative;
}
.paragraph--type--bp-bg-img::before {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
}
.paragraph--type--bp-bg-img > * {
  position: relative;
  z-index: 2;
}
