.paragraph--type {
    &--bp-1-column,
    &--bp-2-column,
    &--bp-3-column {
        margin-bottom: 2.25rem;
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 801px) {
            flex-wrap: no-wrap;
        }
        > * {
            flex: 1 1 100%;
        }
        > *:not(:last-child) {
            margin-bottom: 0;
        }
    }
    &--bp-2-column {
        > * {
            flex: 1 1 100%;
            @media (min-width: 801px) {
                flex: 1 1 50%;
            }
        }
    }
    &--bp-3-column {
        > * {
            flex: 1 1 100%;
            @media (min-width: 801px) {
                flex: 1 1 33%;
            }
        }
    }
}
