.paragraph--type--bp {
    &-bg-img {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        > * {
            position: relative;
            z-index: 2;
        }
    }
}